.section-honeycomb {
   background: url(../../img/main-bg.jpg) no-repeat center center;
   -webkit-background-size: cover;
   background-size: cover;
   position: inherit;
   height: 70rem;
   width: 100%;
}